@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,600,700&display=swap');


/* *, html {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
} */

body {
  font-size: 15px; 
  /* font-family: 'Quicksand', sans-serif; */
}

/* #root {
  background: black;
  height: 100vh; 
  width: 100vw; */
  /* display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; */
/* } */

/* main {
  height: 100%; 
  width: 100%; 
}

@media screen and (min-width: 641px) {
  main {
    height: auto; 
    width: 75%; 
  }
}

@media screen and (min-width: 1240px) {
  main {
    height: auto; 
    width: 60%; 
  }
} */


input {
  border: none;
  outline: none;
}

/*************** SEARCH **************/

.MainSearch {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.MainSearch__Title {
  color: white; 
  margin-bottom: 1rem;
  letter-spacing: 0.15rem; 
  font-weight: 300;
}

.MainSearch__Bar {
  display: flex; 
  align-items: center;
  position: relative;
}

.MainSearch__Bar i {
  position: absolute;
  color: white; 
  padding-left: 18px;
}

.MainSearch__Bar button {
  outline: none; 
  position: absolute; 
  right: 0; 
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  border: none; 
}

.MainSearch__Bar input {
  background: rgba(255,255,255,0.3);
  font-size: 1.2rem;
  padding: 0.7rem 3.5rem; 
  padding-right: 10rem;
  border-radius: 20px;
  color: white; 
}

.MainSearch ::placeholder {
  color: white; 
}


/*************** SPINNER   **************/

.Spinner__Title {
  color: white; 
  font-weight: 300;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************************************   DASHBOARD   *************************************/
/* .Dashboard__Form {
  width: 100%;
  height: 5%;
}

.Dashboard__General {
  width: 100%;
  height: 15%;
}

.Dashboard__Avatar {
  width: 30%;
  height: auto; 
}

.Dashboard__Stats {
  width: 70%;
  height: auto; 
}

.Dashboard__Charts {
  width: 100%;
  height: 80%; 
}

@media screen and (min-width: 641px) {
  .Dashboard__General {
    width: 100%;
    height: 25%;
  }

  .Dashboard__Avatar {
    width: 20%;
    height: auto; 
  }

  .Dashboard__Stats {
    width: 80%;
    height: auto; 
  }

  .Dashboard__Charts {
    width: 100%;
    height: 70%; 
  }
} */